/* GLOBAL */

body {

    margin: 0;

    font-family: Arial, sans-serif;

    background-color: #f2f2f2;

}



/* HEADER */

.header {

    background-color: #111;

    color: white;

    display: flex;

    justify-content: space-between;

    align-items: center;

    padding: 15px 30px;

}



.menu a {

    color: white;

    text-decoration: none;

    margin-left: 20px;

}



.menu a:hover {

    color: #cfa44a;

}



/* HERO */

.hero {

    background-image: url("maison.png");

    background-size: cover;

    background-position: center;

    color: white;

    text-align: center;

    padding: 120px 20px;

}



/* SECTION PLANS */

.plans {

    display: grid;

    grid-template-columns: repeat(2, 1fr);

    gap: 30px;

    padding: 40px;

}



/* CARTE */

.plan {

    background-color: white;

    border-radius: 5px;

    overflow: hidden;

}



.plan img {

    width: 100%;

    height: 220px;

    object-fit: cover;

}



.plan-text {

    padding: 20px;

}



.plan-text h2 {

    margin-top: 0;

}



/* FOOTER */

.footer {

    background-color: #111;

    color: white;

    text-align: center;

    padding: 20px;

}

